body{
    min-height: 745px;
    position: relative;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: rgb(255, 255, 255);
    color: #0D1B2A
    }

body a {
    color: #0D1B2A;
    text-decoration: brown;
    font-size: 25px;
}
body a:hover {
    color: #415A77;
    font-weight: bold;
}    
#option1,#option2{
    margin-left: 50px;
    margin-right: 50px; 
    font-size: 50px;
}
  
#start{
    font-size: 100px;
}
#end{
    font-size: 30px;
}

#result_breed{
    font-size: 30px;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header ul{
    margin: 0;
    padding: 0;
 }

header{    
    font-size: 20px;
    /*background: url('../img/header.jpg') no-repeat;
    background-position: 50% 0;*/
    color: #0D1B2A;
    padding-top: 10px;
    min-height: 70px;
    border-bottom: 3px solid;
}

header a{

    color: #0D1B2A;
    text-decoration: brown;
    font-size: 20px;
}
header li{
    display: inline;
    padding: 0 10px 0 10px;
 }

header #branding{
    float: left;
}
header #branding h1{ 
    margin: 0;
}

header nav {
    float: right;
    margin-top: 12px;
}
header a:hover{
    color: #415A77;
    font-weight: bold;
}

#showcase{
    min-height: 267px;
    min-width: 640px;
    background: url('../img/header.jpg') no-repeat center;
}
#popular{
    text-align:  center;
    margin-top: 20px;
   /* font-size: 20px ;*/
    color: #ffffff;
    padding: 10px;
    background: #0D1B2A;
    
}

.background {
    min-height: 660px;
    background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}
#boxes {
    height: 400px;
    padding-top: 40px;
}
#boxes .box{
    text-align: center;
    float: left;
    width: 22%;
    padding: 10px;
}


#boxes .box:hover{
    color: #415A77;
    font-weight: bold;
    cursor: pointer;
}
.parent{
    
    text-align: center;
    overflow: hidden;
}
#breeds .breed{  
   /* padding: 2px;*/
    float: left;
    padding:  25px 10px 25px 0;
    width: 22%;
    margin-right: 10%;
    text-align: center;
  
}
/*p .breed{
    font-size: 20px;
    color: #0D1B2A;
    text-align: center;
    width: 80%;
    margin-right: 2%;
}*/
.breedBox {
    display: inline-block;
}

.breedImg {
    width:150px;
    float:left;
    height:150px;   
}

.breedDesc{
    color: #0D1B2A;
    text-align: center;
}

.breedName{
    font-size: 20px;
    color: #0D1B2A;
    text-align: center;
    width: 2%;
    margin-right: 25%;
}

#bulka {
    width: 25%;
}
#resimg{
    width: 50%;
}

footer{
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    background-color: #0D1B2A;
    text-align: center;
    transform: translateY(100%);
}
.button{text-decoration:none; text-align:center; 
    padding:11px 32px; 
    border:none; 
    -webkit-border-radius:23px;
    -moz-border-radius:23px; 
    border-radius: 23px; 
    font:14px 'Noto Sans TC', sans-serif; 
    font-weight:bold; 
    color:#0d1b2a; 
    background:#415a77; 
    -webkit-box-shadow:0px 0px 2px #ffffff;  -moz-box-shadow: 0px 0px 2px #ffffff;  box-shadow:0px 0px 2px #ffffff;  
     
     }
     .button:hover{
    padding:11px 32px; 
    border:none; 
    -webkit-border-radius:23px;
    -moz-border-radius:23px; 
    border-radius: 23px; 
    font:14px 'Noto Sans TC', sans-serif; 
    font-weight:bold; 
    color:#0d1b2a; 
    background:#415a77; 
    -webkit-box-shadow:0px 0px 2px #ffffff;  -moz-box-shadow: 0px 0px 2px #ffffff;  box-shadow:0px 0px 2px #ffffff;  
     
    }

    @media only screen and (max-device-width: 480px) {
        header #branding,
        header nav,
        header nav li, #boxes .box
        {
            float: none;
            text-align:center;
            width:100%;
        }
        header {
            padding-bottom:20px;
        }
        #showcase h1{
            margin-top:40px;
        }
        #showcase {
            background: url("../img/header.jpg") no-repeat center;
            height: 93px;
            position: relative;
            
        }

    }
   
    